<h1>Logging In</h1>
<%= form_for(:session, url: login_path) do |f| %>
   <Br>
   <%= f.label :username %>
   <br>
   <%= f.text_field :name, autofocus: true, class: 'new-post-title' %>
   <br><br>

   <%= f.label :password %>
   <br>
   <%= f.password_field :password,class: 'new-post-title' %>
   <br>
   <br>

   <%= f.submit "Log in", class: "post-button" %>
<% end %>
<br>
  
<%= link_to "New User", new_user_path %>


