


<div class="right-inner-container">
  <div class="right-inner">
    <h3>Creating a New Group</h3>
  </div>
  
  <div class="right-inner-two">
    <h3></h3>
  </div>
</div>

<div class="groups-container">

   <% @groups.each do |group| %>
      <a href="/groups/<%= group.id.to_s %>" data-remote="true">
        
        
            <div class="dashboard-invoice">
            <% if group.name.length > 19 %>
              <p><%= group.name[0..18] + "..." %></p>
            <% else %>
              <p><%= group.name %></p>
            <% end %>
            <p class="dashboard-date">Contains <%= group.invs.count.to_s %> invoices</p>
            </div>
    
          
    
      </a>
    <% end %>
    
    <% if current_user.groups.count < 1 %>
    
      <div class="no-results">
        <i class="fa fa-frown-o fa-4x"></i>
        <p>You haven't made any<br>groupoices yet!</p>
      </div>
    
    <% elsif @groups.count == 0 %>
      <div class="no-results">
        <i class="fa fa-frown-o fa-4x"></i>
        <p>No items found matching <br> that search!</p>
      </div>
    <% end %>

</div>

<div class="right-form-container">
  
  <%= form_for (Group.new), :remote => :true do |f| %>
    <p style="color:white">Creating new Group</p>
    <br>
    <%= f.text_field :name, autofocus: true %>
    
    <%= f.submit "Create" %>
    
  <% end %>
</div>

