<div class="edit-user-forms-container">
  <h4 class="edit-user-h4 tk-refrigerator-deluxe">Editing Details</h4>
  
  <%= form_for @user, :remote => true do |f| %>
    

  <div class="company-container">
    <p class="company-title tk-refrigerator-deluxe">You or Your Organisation's Name</p>
    <%= f.text_field :sender, class: "company-form tk-proxima-nova" %>
  </div>
  
  <div class="divider"></div>
  
  <div class="company-container">
    <p class="top-offset-title tk-refrigerator-deluxe">Details Offset</p>
    <%= f.text_field :topoffset, class: "top-offset-form tk-proxima-nova" %>
  </div>
  
  <% if current_user.coverimages.count > 0 %>
    <div class="company-container" style="margin-bottom: 0px">
      <p class="top-offset-title tk-refrigerator-deluxe" style="padding-bottom: 2px;">Use Cover Image</p>
      <%= f.check_box :use_picture, class: "check-box2"  %>
    </div>
  <% end %>
    
  <%= f.submit "Update", class: "edit-user-button tk-refrigerator-deluxe" %>
  <% end %>
</div>

<div class="edit-user-image-container">
  <% if current_user.coverimages.count == 0 %>
  <h4 class="edit-user-h4 tk-refrigerator-deluxe">Add Cover Image </h4>
  
    <%= form_for Coverimage.new, :remote => true do |f| %>
      <%= f.file_field :file, class: "file-field tk-proxima-nova" %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.submit "Change cover image", class: "edit-image-button tk-refrigerator-deluxe" %>
    <% end %>
  <% else %>
  <h4 class="edit-user-h4 tk-refrigerator-deluxe">Update Cover Image</h4>
    <%= form_for @coverimage,:remote => true do |f| %>
      <%= f.file_field :file, class: "file-field tk-proxima-nova" %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      
      <%= f.submit "Change cover image", class: "edit-image-button tk-refrigerator-deluxe" %>
      
    <% end %>
  <img style="width:300px" src="/coverimages/<%= @coverimage.id %>">
      
  
  <% end %>
</div>


<div class="tutorial-toplines-container-2">
  <%= render "users/partials/toplines.html.erb" %>
</div>

<script type="text/javascript"> //reapplies the sorting thing every time the partial is reloaded.
  ready();
</script>