<div style="float:right">
  <iframe src="<%= asset_path "invs/" + @previewinv.id.to_s %>" width="600px" height="700px"></iframe>
</div>
<h1>Updating User Info</h1>


<%= form_for @user do |f| %>
  <h4>These Will Appear at the top of each invoice you make:</h4>
  
  <br>
  <%= f.label "Your or your companies name" %>
  <br>
  <%= f.text_field :sender %>
  <br>
  
  <br>
  <%= f.label "Address" %>
  <br>
  <%= f.text_field :address %>
  <br>
  
  <br>
  <%= f.label "Mobile/Cell" %>
  <br>
  <%= f.text_field :mobile %>
  <br>
  
  <br>
  <%= f.label "Phone" %>
  <br>
  <%= f.text_field :phone %>
  <br>
  
  <br>
  <%= f.label "Email(Leave blank to use the email you signed up with)" %>
  <br>
  <%= f.text_field :invoice_email %>
  <br>
  
  <br>
  <%= f.label "Offset" %>
  <br>
  <%= f.text_field :topoffset %>
  <br>
  
  
<%= f.submit "Update", class: "line-button" %>
<% end %>

<br>
<% if current_user.coverimages.count == 0 %>
<p>Add a cover Image </p>
  <%= form_for [Coverimage.new] do |f| %>
    <%= f.file_field :file %>
    <%= f.submit "Change cover image" %>
  <% end %>
<% else %>
<p>Update cover image</p>
  <%= form_for [@coverimage] do |f| %>
    <%= f.file_field :file %>
    <%= f.submit "Change cover image" %>
  <% end %>

    <img style="width:300px" src="/coverimages/<%= @coverimage.id %>">

<% end %>

