<div class="log-in-page-container">
  <h1 class="not-logged-in-header">Invoice Factory</h1>
  <p class="not-logged-in-info">Invoice Factory let's you easily create and customize invoices with a minimum of effort.</p>

   
   <h1 class="log-in-title">Creating Account</h1>
   
   <%= form_for @user do |f| %>
   
      <div class="username-container">
         <%= f.label :username, class: "username-label" %>
         <%= f.text_field :name, autofocus: true, class: "username-form" %>
      </div>
      
      <div class="password-container">
         <%= f.label :password, class: "password-label" %>
         <%= f.password_field :password,class: 'password-form' %>
      </div>
         
      <div class="password-confirm-container">
         <%= f.label "Confirm Password", class: "password-label" %>
         <%= f.password_field :password_confirmation, class: 'password-form' %>
         
         <%= f.submit "Sign Up", class: "log-in-button" %>
      </div>
      
         

   

   <% end %>
     

</div>