<%= form_for [Topline.new], :remote => true do |f| %>
  <div class="tutorial-topline-new-container">
    <p class="tutorial-topline-new-title tk-refrigerator-deluxe">
      Add Line
    </p>
    <%= f.text_field :name, placeholder: "Name", class: "tutorial-topline-new-name tk-proxima-nova" %>
    <%= f.text_field :value, placeholder: "Value", class: "tutorial-topline-new-value tk-proxima-nova" %>
    <%= f.submit "Add", class: "tutorial-topline-button tk-refrigerator-deluxe" %>
  </div>
<% end %> 
    
<ul class="sortable2">
  
  <% @toplines.each do |x| %>
    
    <li data-id="<%= x.id %>"> <!-- Nescessary for the sorting -->
    
      <div class="line line<%=x.id%>">
        
          <p class="service-paragraph tk-refrigerator-deluxe"><%= x.name %>:</p>
          
          <p class="description-paragraph tk-proxima-nova"><%= x.value %></p>
          
          <%= link_to 'x', x, :method => :delete, class: "delete-button tk-refrigerator-deluxe", :remote => true %>
          <%= link_to 'edit', edit_topline_path(x), class: "edit-button tk-refrigerator-deluxe", :remote => true %>
    
      </div>
      
        <div class="line<%=x.id%>-form" style="display:none"> <!-- form for edit is displayed here -->
        </div>
      
    </li>
  
  <% end %>

</ul>
    
    
<script type="text/javascript"> //reapplies the sorting thing every time the partial is reloaded.
  ready();
</script>