<!-- THIS IS A FUCKING MESS OMG -->

  <div class="right-inner-container">
    <div class="right-inner">
      <h3>Editing Invoice for: <%= link_to @inv.recipient, recipient_form_path(@inv.id), :remote => :true %></h3>
    </div>
    
    <div class="right-inner-two">
      <h3>Total: £ <%= link_to @total.to_s, total_form_path(@inv.id), :remote => :true %></h3>
    </div>
  </div>
  <div class="right-body">
    
  

      <%= form_for (@inv), :remote => :true do |f| %>
        <div class="date-form-container">
          <p class="date-form-title">SENT </p>
          <%= f.text_field :date, :placeholder => "Date", class: "date-form-dashboard", :autocomplete => :off %>
          
        <p class="date-form-title">DUE</p>
          <%= f.text_field :due_date, :placeholder => "Date", class: "date-form-dashboard", :autocomplete => :off %>
        </div>
        

      <div style="display:inline-block">
        <div>
          
        <div class="group-form-container">
          <p class="group-form-title">Group </p>
          <%= f.collection_select :group_id, @group,:id,:name, :prompt => "None", class: "group-form-dashboard" %>
        </div>
        
        <div class="address-form-container">
          <p class="address-form-title">Address </p>
          <%= f.text_area :address_1, class: "address-form-dashboard"%>
        </div>
        
      </div>
        
        
        <div class="note-form-container">
          <p class="note-form-title">Note </p>
          <%= f.text_area :note, class: "note-form-dashboard"%>
        </div>
        
      </div>
        
         <%= f.submit "Update", class: "dashboard-form-button"%>
        
      <% end %>

    <a style:"float:right" href="/download/<%=@inv.id%>">
      <i class="fa fa-arrow-circle-down fa-3x"></i>
    </a>
    
    <a class="change-mode" href="javascript:void(0)">
      <i  class="fa fa-pencil-square-o fa-3x"></i>
    </a>
    
    <a style:"float:right" href="/invs/<%=@inv.id%>"  data-remote="true" rel="nofollow" data-method="delete" data-confirm="Are you sure you want to delete this invoice?">
     <i class="fa fa-trash-o fa-3x"></i>
    </a>

  
  
  <div class="line-mode">
    
    <div class="new-line-form">
        
      <h4 class="new-line-form-title">Add Line</h4>
      <%= form_for [@inv, Line.new], :remote => true do |f| %>
      
        <%= f.text_field :service, autofocus: true, class: "service", input_html: {autocomplete: 'off'},:placeholder => "Service" %>
        
        <%= f.text_area :description, class: "description", input_html: {autocomplete: 'off'},:placeholder => "Description" %>
        
        <%= f.text_field :quantity, class: "quantity", input_html: {autocomplete: 'off'},:placeholder => "x0" %>
     
        <%= f.text_field :price, class: "price", input_html: {autocomplete: 'off'},:placeholder => "Price" %>
    
        <%= f.submit "Add", class: "line-button" %>
      
      <% end %>
    </div>
    
  
    
    
    <div class="line-container">
     <%= render "invs/line.html.erb" %>
    </div>
  
  </div>
  
  <div class="block-mode" style="display:none">
    
    <%= form_for [@inv], :remote => true do |f| %>
      <br>
      <%= f.label "Plain text body, leave this blank if you wish to use the lines method" %>
      <br>
      <%= f.text_area :block, class: "block-body" %>
      <br>
    <% end %>
  
  
  </div>
</div>

<script>
  $(document).ready(ready);
  $(document).on('page:load', ready);
  
</script>