<p><strong>INVOICE FOR:</strong> <%= @inv.recipient %></p>

<% unless @inv.address_1.nil? || @inv.address_1 == "" %>
  <p><strong>Address Line 1:</strong> <%= @inv.address_1 %></p>
<% end %>

<% unless @inv.address_2.nil? || @inv.address_2 == "" %>
  <p><strong>Address Line 2:</strong> <%= @inv.address_2 %></p>
<% end %>

<% unless @inv.address_3.nil? || @inv.address_3 == "" %>
  <p><strong>Address Line 3:</strong> <%= @inv.address_3 %></p>
<% end %>

<p>
  <strong>GROUP:</strong> 
  <% if @inv.group == nil %> <!-- WILL DISPLAY A GTROUP IF THERE IS ONE -->
    none
  <% else %>
    <%= @inv.group.name %>
  <% end %>
</p>

