<ul class="sortable">
  
<% @lines.each do |x| %>
  
  <li data-id="<%= x.id %>"> <!-- Nescessary for the sorting -->
  <div class="line line<%=x.id%>">
    
    <% unless x.service == "" %> <!-- will print the description is one is provided -->
      <p class="service-paragraph"><%= x.service %>:</p>
    <% end %>
    
    <p class="description-paragraph"><%= x.description %></p>
    <%= link_to 'X', x, :method => :delete, class: "delete-button", :remote => true %>
    <%= link_to 'edit', edit_line_path(x), class: "edit-button", :remote => true %>
    
    <% unless x.price.nil? %> <!-- will print the price is one is provided -->
      <p class="price-paragraph">||£<%= '%.2f' % x.price %>||</p>
    <% end %>
  </div>
  
  <div class="line line<%=x.id%>-form" style="display:none"> <!-- form for edit is displayed here -->
  </div>
  
  </li>

<% end %>

</ul>

<div class="total-container">
  
  <p class="total">
  <% if @inv.total == nil %> <!-- will display (custom) if the price is custom -->
    <strong>Total:</strong> £ <%= @total %>
  <% else %>
    <strong>Total:</strong> £ <%= @total %><strong>(CUSTOM)</strong>
  <% end %>
  </p>
  <a class="custom-total" href="javascript:void(0)">Custom Total</a>
</div>

<div class="custom-total-container" style="display:none">
  <%= form_for [@inv], :remote => true do |f| %> <!-- form to change total -->
  
    <div class="form-container">
      <%= f.label "Custom Total" %>
      <%= f.text_field :total, class: "price", input_html: {autocomplete: 'off'} %>
    </div>
      
      
    <%= f.submit "Change", class: "line-button" %>
  <% end %>
</div>


<script type="text/javascript"> //reapplies the sorting thing every time the partial is reloaded.
    ready();
</script>