<ul class="sortable">
  
<% @lines.each do |x| %>
  
  <li data-id="<%= x.id %>"> <!-- Nescessary for the sorting -->
  <div class="line line<%=x.id%>">
    
    <% unless x.service == "" %> <!-- will print the description is one is provided -->
      <p class="service-paragraph"><%= x.service %>:</p>
    <% end %>
    
    <p class="description-paragraph"><%= x.description %></p>
    <%= link_to 'X', x, :method => :delete, class: "delete-button", :remote => true %>
    <%= link_to 'edit', edit_line_path(x), class: "edit-button", :remote => true %>
    
    <% unless x.price.nil? %> <!-- will print the price is one is provided -->
      <p class="price-paragraph">||£<%= '%.2f' % x.price %>||</p>
    <% end %>
  </div>
  
  <div class="line line<%=x.id%>-form" style="display:none"> <!-- form for edit is displayed here -->
  </div>
  
  </li>

<% end %>

</ul>




<script type="text/javascript"> //reapplies the sorting thing every time the partial is reloaded.
    ready();
</script>