////////////////////////////////////
<br>
INVOICE FOR: <%= @inv.recipient %>
<br>
GROUP: 
<% if @inv.group == nil %>
  none
<% end %>
<%= @inv.group.name %>
<br>
////////////////////////////////////


<%= form_for [@inv, Line.new], :remote => true do |f| %>

<div class="form-container">
  <%= f.label :service %>
  <%= f.text_field :service, autofocus: true, class: "service", input_html: {autocomplete: 'off'} %>
</div>

<div class="form-container">
  <%= f.label :description %>
  <%= f.text_field :description, class: "description", input_html: {autocomplete: 'off'} %>
</div>

<div class="form-container">
  <%= f.label :price %>
  <%= f.text_field :price, class: "price", input_html: {autocomplete: 'off'} %>
</div>
  
  
<%= f.submit "Add", class: "line-button" %>
<% end %>

<br>

<%= link_to "Download as PDF", inv_download_path  %>

<br>
<br>


<div class="line-container">
  
  <% @lines.each do |x| %>
  
    <div class="line">
      <p class="service-paragraph"><%= x.service %>:</p>
      <p class="description-paragraph"><%= x.description %></p>
      <%= link_to 'X', x, :method => :delete, class: "delete-button", :remote => true, data: { confirm: 'Are you sure you want to delete this line?' } %>
      <p class="price-paragraph">||£<%= x.price %>||</p>
      
    </div>
    
  <% end %>
  
</div>