<!-- THIS IS A FUCKING MESS OMG -->


  

<div class="inv-container">
  <%= render "inv.html.erb" %>
</div>

<div class="edit-inv-form" style = "display:none">
  <div class="edit-inv-form-inner">
    <%= form_for (@inv), :remote => :true do |f| %>
      <%= f.label "Who is the recipient?" %>
      <br>
      <%= f.text_field :recipient, autofocus: true %>
      <br>
        <br>
      <br>
      <%= f.label "Address Line 1" %>
      <br>
      <%= f.text_field :address_1%>
      <br>
      
      <br>
      <%= f.label "Address Line 2" %>
      <br>
      <%= f.text_field :address_2%>
      <br>
      
      <br>
      <%= f.label "Address Line 3" %>
      <br>
      <%= f.text_field :address_3%>
      <br>
      <br>
      <br>
      <%= f.label "Include in a group? Leave blank if no" %>
      <br>
      <%= f.collection_select :group_id, @group,:id,:name, include_blank: true %>
      <br>
      <br>
      <%= f.submit "Update" %>
    <% end %>
  </div>
</div>

<div class="inv-container-links">
  <a class="edit-inv" href="javascript:void(0)">Edit Details</a>
  <a class="change-mode" href="javascript:void(0)">Change Mode</a>
  <%= link_to "Download as PDF", inv_download_path(@inv.id)%>
</div>



<div class="line-mode">
  
  <div class="new-line-form">
      
    <h4>Add Line</h4>
    <%= form_for [@inv, Line.new], :remote => true do |f| %>
    
      <%= f.text_field :service, autofocus: true, class: "service", input_html: {autocomplete: 'off'},:placeholder => "Service(Not Required)" %>
      
      <%= f.text_area :description, class: "description", input_html: {autocomplete: 'off'},:placeholder => "Description" %>
   
      <%= f.text_field :price, class: "price", input_html: {autocomplete: 'off'},:placeholder => "Price(Not Required)" %>
  
      <%= f.submit "Add", class: "line-button" %>
    
    <% end %>
  </div>
  

  
  
  <div class="line-container">
   <%= render "line.html.erb" %>
  </div>

</div>

<div class="block-mode" style="display:none">
  
  

  
  <%= form_for [@inv], :remote => true do |f| %>
    <br>
    <%= f.label "Plain text body, leave this blank if you wish to use the lines method" %>
    <br>
    <%= f.text_area :block, class: "block-body" %>
    <br>
    
    <div class="form-container">
      <%= f.label "Total" %>
      <%= f.text_field :total, class: "price", input_html: {autocomplete: 'off'} %>
    </div>
      
    <%= f.submit "Update", class: "line-button2" %>
    
  <% end %>
  <br>
  

</div>

<div class="iframe-container">
  <%= render "iframe.html.erb" %>
</div>
