////////////////////////////////////
<br>
INVOICE FOR: <%= @inv.recipient %>
<br>
GROUP: 
<% if @inv.group == nil %>
  none
<% else %>
<%= @inv.group.name %>
<% end %>
<br>
////////////////////////////////////



<%= form_for [@inv, Line.new], :remote => true do |f| %>

<div class="form-container">
  <%= f.label :service %>
  <%= f.text_field :service, autofocus: true, class: "service", input_html: {autocomplete: 'off'} %>
</div>

<div class="form-container">
  <%= f.label :description %>
  <%= f.text_field :description, class: "description", input_html: {autocomplete: 'off'} %>
</div>

<div class="form-container">
  <%= f.label :price %>
  <%= f.text_field :price, class: "price", input_html: {autocomplete: 'off'} %>
</div>
  
  
<%= f.submit "Add", class: "line-button" %>
<% end %>


<br>

<%= link_to "Download as PDF", inv_download_path  %>

<br>
<br>


<div class="line-container">
  
 <%= render "line.html.erb" %>
 
  
</div>

