<!-- THIS IS A FUCKING MESS OMG -->

<div class="inv-container">
  <%= render "inv.html.erb" %>
</div>

<div class="edit-inv-form" style = "display:none">
  
<%= form_for (@inv), :remote => :true do |f| %>
  <%= f.label "Who is the recipient?" %>
  <br>
  <%= f.text_field :recipient, autofocus: true %>
  <br>
  <%= f.label "Include in a group? Leave blank if no" %>
  <br>
  <%= f.collection_select :group_id, @group,:id,:name, include_blank: true %>
  <br>
  <%= f.submit "Update" %>
<% end %>

</div>
<a class="edit-inv" href="javascript:void(0)">Edit Details</a>
<a class="change-mode" href="javascript:void(0)">Change Mode</a>
<br>
<br>


<div class="line-mode">
  
  <%= form_for [@inv, Line.new], :remote => true do |f| %>
  
  <div class="form-container">
    <%= f.label :service %>
    <%= f.text_field :service, autofocus: true, class: "service", input_html: {autocomplete: 'off'} %>
  </div>
  
  <div class="form-container">
    <%= f.label :description %>
    <%= f.text_field :description, class: "description", input_html: {autocomplete: 'off'} %>
  </div>
  
  <div class="form-container">
    <%= f.label :price %>
    <%= f.text_field :price, class: "price", input_html: {autocomplete: 'off'} %>
  </div>
    
    
  <%= f.submit "Add", class: "line-button" %>
  
  <% end %>
  
  
  <br>
  
  <%= link_to "Download as PDF", inv_download_path  %>
  
  <br>
  <br>
  
  
  <div class="line-container">
   <%= render "line.html.erb" %>
  </div>

</div>

<div class="block-mode" style="display:none">
  
  

<%= link_to "Download as PDF", inv_download_path  %>
<br>

  
  <%= form_for [@inv], :remote => true do |f| %>
    <br>
    <%= f.label "Plain text body, leave this blank if you wish to use the lines method" %>
    <br>
    <%= f.text_area :block, class: "block-body" %>
    <br>
    
    <div class="form-container">
      <%= f.label "Total" %>
      <%= f.text_field :total, class: "price", input_html: {autocomplete: 'off'} %>
    </div>
      
    <%= f.submit "Update", class: "line-button2" %>
    
  <% end %>
  <br>
  

</div>

