<!DOCTYPE html>
<html>
<head>
  <title>Invoice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
 <p>logged in as: <%= current_user.name %></p>
 <%= link_to "Log Out", logout_path, method: "delete" %>
 <%= link_to "All Invoices", invs_path %>
 


 <br>
 <br>
<% end %>

<%= yield %>

</body>
</html>
