<!DOCTYPE html>
<html>
<head>
  <title>Invoice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
</head>
<body>
<% if logged_in? %>
 <div class="header">
   <%= link_to "All Invoices ", invs_path %>
   <%= link_to "Invoices by Group ", groups_path %>
   <%= link_to "New Invoice ", new_inv_path %>
   <%= link_to "New Group ", new_group_path %>
   <%= link_to "Edit User ", edit_user_path(current_user.id) %>
   <%= link_to " Log Out(" + current_user.name + ") ", logout_path, method: "delete" %>
 </div>
<% end %>


  <div class="contains-everything">
 
    <div class="alert-container">
      <%= render "layouts/alerts.html.erb" %>
    </div>
    
    <%= yield %>
    
  </div>

</body>
</html>
