<!DOCTYPE html>
<html>
<head>
  <title>Invoice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
 <div class="header">
   <%= link_to "All Invoices ", invs_path %>
   <%= link_to "Invoices by Group ", groups_path %>
   <%= link_to "New Invoice ", new_inv_path %>
   <%= link_to "New Group ", new_group_path %>
   <%= link_to "Edit User ", edit_user_path(current_user.id) %>
   <%= link_to " Log Out(" + current_user.name + ") ", logout_path, method: "delete" %>
 </div>
 

 <br>
 <br>
<% end %>

<%= yield %>

</body>
</html>
